@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
}
:root {
  --gun-metal: #00272B;
  --chartreuse: #E0FF4F;
  --light-text: #F4F4F4;
  --dark-text: #222;
  /* --border-radius: 8px; */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
  